/* Regular Garamond Font */
@font-face {
    font-family: 'Garamond';
    src: url('fonts/GARA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
  /* Italic Garamond Font */
@font-face {
    font-family: 'Garamond';
    src: url('fonts/GARAIT.TTF') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
* {
    font-family: 'Garamond';
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.1px;
    font-weight: normal;
    font-style: normal;
}

main {
    background-color: white;
    max-width: 630px;
    margin: auto;
    padding: 0.5rem;
    padding-top: 1.8rem;
    padding-bottom: 5rem;
}

header {
    /* display: flex;
    justify-content: space-between; */
    padding: 5rem 0rem 1.5rem 0rem;
    max-width: 630px;
    margin: auto;
}

a {
    color: #000000;
}

a:hover {
    font-family: 'Garamond';
    color: #ff0000; /* Change to your desired hover color */
    font-style: italic;
}

/*CSS for menu - not active */
.headerLeft {
    flex: 1;
}

.logo {
    max-width: 60px;
}

/* .headerRight {
    flex: 1;
    text-align: right;
} */

.menu {
    list-style: none;
}

/* CSS for page header */
.bodyTitle {
    font-family: 'Garamond';
    font-weight: bold;
    font-size: 64px;
    letter-spacing: 1px;
    padding-bottom: 1.4rem;
}

.bodySubtitle {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 1.5rem;
    line-height: 144%;
}

.shortHr {
    width: 60px;
    margin: 0;
}

/* CSS for main body content */
.smallPara {
    padding-bottom: 8px;
}

.paraBold {
    font-family: 'Garamond', serif;
    font-weight: bold;
    font-size: 20px;
}

/* CSS for links to contact */
.contactLinks {
    padding-bottom: 40px;
}

/* CSS for current projets and past experiences */
.experienceSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
}

.roleContainer {
    padding: 1px;
}

.roleText {
    font-family: 'Open Sans','Inter', sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
}

.companyText{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.descriptionContainer {
    padding: 1px;
}

.statusContainer {
    padding: 1px;
}

.projectStatus {
    display: flex;
    align-items:center;
    padding-bottom: 10px;
}

/* Status online */
.onlineBubble {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #35C802;
    margin-right: 5px;
}

.onlineText {
    font-family: 'Open Sans','Inter', sans-serif;
    font-size: 15px;
    color: #35C802;
}

/* Status offline */
.offlineBubble {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #979797;
    margin-right: 5px;
}

.offlineText {
    font-family: 'Open Sans','Inter', sans-serif;
    font-size: 15px;
    color: #979797;
}

/*CSS for footer*/
.footerRightSide {
    padding-top: 30px;
    text-align: right;
    font-size: 14px;
}

/* CSS for page header subtitle */
#subtitleLabel {
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1.28px;
    line-height: 144%;
}
