* {
    font-family: Garamond, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.1px;
}

main {
    background-color: white;
    max-width: 650px;
    margin: auto;
    padding: 0.5rem;
    padding-top: 2rem;
}

header {
    /* display: flex;
    justify-content: space-between; */
    padding: 20px;
    max-width: 650px;
    margin: auto;
}

a{
    color: #000000;
}

a:hover {
    color: #ff0000; /* Change to your desired hover color */
    font-style: italic;
    letter-spacing:0.5px;
}

.headerLeft {
    flex: 1;
}

.logo {
    max-width: 60px;
}

/* .headerRight {
    flex: 1;
    text-align: right;
} */

.menu {
    list-style: none;
}

.bodyTitle {
    font-size: 64px;
    font-weight: bold;
    padding-bottom: 1.4rem;
}

.bodySubtitle {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 1.5rem;
    line-height: 144%;
}

.shortHr {
    width: 60px;
    margin: 0;
}

.smallParagraph {
    padding-bottom: 8px;
}

.footerRightSide{
    text-align: right;
    font-size: 16px;
}

#subtitleLabel{
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1.28px;
    line-height: 144%;
}
